<ion-header>
  <ion-toolbar>
    <ion-buttons> 
      <ion-back-button defaultHref="menu/programm"></ion-back-button>
      <ion-title>Programm</ion-title>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content nopadding>
  <div id="content">
    <ion-grid padding>
      <h2>{{ veranstaltung.title }}</h2>
      <ion-row> 
        <ion-col *ngIf="veranstaltung.start_date && veranstaltung.end_date">
          <div class="date">
            <h2>Datum</h2>
            <p>{{veranstaltung.start_date | date }} - {{veranstaltung.end_date | date }}</p>
          </div>
        </ion-col>
         <ion-col>
          <div class="preis">
            <h2>Preis</h2>
            <p>{{veranstaltung.price.value}} {{veranstaltung.price.currency}}</p>
          </div>
        </ion-col>
       
      </ion-row>
      <ion-row>
      <ion-col size="12" *ngIf="veranstaltung.long_description != ''">
          <div class="long_description">
            <h2>Beschreibung</h2>
            <p>{{veranstaltung.long_description}}</p>
          </div>
        </ion-col>
       
      </ion-row>
      <ion-row>
        <ion-col *ngIf="veranstaltung.service != ''">
          <div class="service">
            <h2>Leistung</h2>
            <p>{{veranstaltung.service}}</p>
          </div>
        </ion-col> <ion-col *ngIf="veranstaltung.stay != ''">
          <div class="stay">
            <h2>Unterkunft</h2>
            <p>{{veranstaltung.stay}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
       
         <ion-col *ngIf="veranstaltung.programm != ''">
          <div class="programm">
            <h2>Programm</h2>
            <p>{{veranstaltung.programm}}</p>
          </div>
        </ion-col>
        <ion-col *ngIf="veranstaltung.tour_destinations != ''">
          <div class="tour_destinations">
            <h2>mögliche Tourenziele</h2>
            <p>{{veranstaltung.tour_destinations }}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
      
        <ion-col *ngIf="veranstaltung.skills != ''">
          <div class="skills">
            <h2>Anforderungen</h2>
            <p>{{veranstaltung.skills}}</p>
          </div>
        </ion-col>
        <ion-col *ngIf="veranstaltung.specialities != ''">
          <div class="specialities">
            <h2>Besonderes</h2>
            <p>{{veranstaltung.specialities}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-button expand="full" [routerLink]="['/menu','programm', id, 'anmeldung']" routerDirection="forward" >Anmelden</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>