
<ion-content>
  <div id="container">
    <app-header></app-header>
    <h2>Bergführertarife</h2>
    <div id="skeleton-container" *ngIf="!pageData">
    
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </div>
    <div id="loadedContent" [innerHTML]="pageData?.content"></div>
    <app-footer>
    </app-footer>
  </div>
</ion-content>
