<ion-header>
  <ion-toolbar>
    <ion-buttons> 
      <ion-back-button></ion-back-button>
      <ion-title>Material</ion-title>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-list-header>
      <ion-label>Datum</ion-label>
      <ion-label>Titel</ion-label>
      <ion-label>Beschreibung</ion-label>
      <ion-label>Preis</ion-label>
    </ion-list-header>
    <material-item [data]="mat" *ngFor="let mat of material"></material-item>
  </ion-list>
</ion-content>
