<div id="header">
  
    <div id="menu-button">
      <ion-menu-button ></ion-menu-button>
    </div>
    <div id="header-image" [ngStyle]="{'background-image':'url('+header_image_url+')'}" >

        <img id="logo" src="assets/BergUndSportLogo.svg" onerror="this.onerror=null; this.src='splash.png'"> 
    </div>
    <div id="menu-list">
      
      <div class="menu-item" *ngFor="let page of pages"
        [ngClass] = "{'active-item': (checkURL(selectedPath, page.url))}">
        <div class="container" *ngIf="page.subPages">
          <div class="title">{{ page.title }}</div>
          <div class="subMenu">
              <div class="subMenu-item" *ngFor="let subPage of page.subPages" [routerLink]="subPage.url" routerDirection="root">
                {{ subPage.title }}
              </div>
          </div>
        </div>
        <div class="container" *ngIf="!page.subPages" [routerLink]="page.url" routerDirection="root">
          <div class="title">{{ page.title }}</div>
        </div>
      </div> 
    </div>
   
  </div>
  