
<ion-menu contentId="content">
  <ion-header>
    <ion-menu-toggle routerLink="/menu/home" auto-hide="false"  routerDirection="root">
      <img id="headerImg" src="assets/BergUndSportLogo.svg"/>
    </ion-menu-toggle>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
        <ion-item [routerLink]="page.url" 
                  routerDirection="root" 
                  [ngClass] = "{'active-item': (!page.open && checkURL(selectedPath, page.url))}">
            {{ page.title }}
          </ion-item>
      </ion-menu-toggle>
    
    </ion-list>
  </ion-content>
    <div class="acknowledgement">
    <div id="madeBy">
      <p>
        <a href="http://www.broggoli.ch">Web design by Nick Bachmann</a>
      </p>
    </div>
  </div>  
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>