#veranstaltung {
    min-width: 10em !important;
    display: block;
    margin-left: 21px;
    padding: 0.5em;
    background: var(--ion-color-light-shade);
}

#item-content {
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}