#content {
    width: 80%;
    margin: 1em auto;
    .showMoreBtn {
        text-align: center;
        height: 2em;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #matList{
        height: 10em;
        overflow: hidden;
        
        
    }
    #matList:after {
        position: absolute;
        width: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%,rgba(255, 255, 255, 0.678) 100%);
    }
    #matList.expand{
        height: auto;
        background: none;
    }
}   
ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px; 
    width: 100%;
}

:host ngx-gallery::ng-deep ngx-gallery-thumbnails {
    .ngx-gallery-thumbnail {
        border: none !important;
        filter: grayscale(1);
        transition: filter ease 1s;
    }
    .ngx-gallery-active {
        border: none !important;
        filter: grayscale(0);
    }
}