#content {
    width: 80%;
    margin: 1em auto;
}   
#matList{
    height: 10em;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}
ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px; 
    width: 100%;
}

:host ngx-gallery::ng-deep ngx-gallery-thumbnails {
    .ngx-gallery-thumbnail {
        border: none !important;
        filter: grayscale(1);
        transition: filter ease 1s;
    }
    .ngx-gallery-active {
        border: none !important;
        filter: grayscale(0);
    }
}