
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ data.name }}</ion-card-title>
    <ion-card-subtitle> {{ data.detail }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
  <ion-label>
    {{ data.day_1 }} {{data.currency}}
  </ion-label>
  
  <ion-label>
    {{ data.day_2 }} {{data.currency}}
  </ion-label>

  <ion-label>
    {{ data.day_3_4 }} {{data.currency}}
  </ion-label>

  <ion-label>
    {{ data.day_5_8 }} {{data.currency}}
  </ion-label>
  </ion-card-content>
</ion-card>