<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Portrait</ion-title>
      <ion-menu-button></ion-menu-button>
    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<div id="spinner-container">
    <ion-spinner *ngIf="!pageData">
    </ion-spinner>
  </div>-->
  <div id="skeleton-container" *ngIf="!pageData">
  
    <div class="profileImage">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </div>
  <div id="loadedContent" [innerHTML]="pageData?.content"></div>
  <!--<div>
    {{ pageData | json }}
  </div>-->
</ion-content>
